<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>NWSCV Mathcounts</title>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
</head>

<body>
    <div class="header"></div>
    
    <div id="winners">
      <div class="heading">
        <div id="line"></div>
        <h1>PAST WINNERS</h1>
      </div>
      
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div id="year2020">
                  2020
                </div>
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <table id="winners2020" style="width:100%">
                  <tr>
                    <th>Place</th>
                    <th>Top Teams</th>
                    <th>Coach</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Jaoquin Miller Middle School</td>
                    <td>Monica Manolescu</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Stratford Sunnyvale Raynor Middle School</td>
                    <td>Tatiana Ter-zakhariants</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Lawson Middle School</td>
                    <td>Natasha Garg</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Cupertino Middle School</td>
                    <td>Rajdeep Danewalia</td>
                  </tr>
                  <tr>
                    <th></th>
                    <th>Honorable Mention (Alphabetical Order)</th>
                    <th>Coach</th>
                  </tr>
                  <tr>
                    <td></td>
                    <td>AccelPlus Homeschool</td>
                    <td>Jane Huijing Cao</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Challenger School Sunnyvale</td>
                    <td>Yuan Yuan</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Helios School</td>
                    <td>Natasha Gelfand</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Hyde Middle School</td>
                    <td>Madhavi Gudivaka</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Queen Of Apostles School</td>
                    <td>Bharat Narayanasamy</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Summit Public School: Denali</td>
                    <td>Tina Wan</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Sunnyvale Middle School</td>
                    <td>Amol Khare</td>
                  </tr>
                  <tr>
                    <th></th>
                    <th>Best New School</th>
                    <th>Coach</th>
                  </tr>
                  <tr>
                    <td></td>
                    <td>The King's Academy</td>
                    <td>Stephanie Tien</td>
                  </tr>
                  <tr>
                    <th></th>
                    <th>New Schools</th>
                    <th>Coach</th>
                  </tr>
                  <tr>
                    <td></td>
                    <td>The King's Academy</td>
                    <td>Stephanie Tien</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Summit Public School: Denali</td>
                    <td>Tina Wan</td>
                  </tr>
                  <tr>
                    <th></th>
                    <th>Best Small School</th>
                    <th>Coach</th>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Stratford Sunnyvale Raynor Middle School</td>
                    <td>Tatiana Ter-zakhariants</td>
                  </tr>
                  <tr>
                    <th></th>
                    <th>Most Improved School</th>
                    <th>Coach</th>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Cupertino Middle School</td>
                    <td>Rajdeep Danewalia</td>
                  </tr>
                </table>
              </div>
          </div>
        </div>
        <!-- <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <div id="year2019">
                    2019
                  </div>
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                1 firstplacename
                <br>2 secondplacename
                <br>3 thirdplacename
                <br>4 fourthplacename
                <br>5 fifthplacename
              </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <div id="year2018">
                    2018
                  </div>
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                1 firstplacename
                <br>2 secondplacename
                <br>3 thirdplacename
                <br>4 fourthplacename
                <br>5 fifthplacename
              </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <div id="year2017">
                    2017
                  </div>
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                1 firstplacename
                <br>2 secondplacename
                <br>3 thirdplacename
                <br>4 fourthplacename
                <br>5 fifthplacename
              </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                  aria-expanded="false" aria-controls="collapseFive">
                  <div id="year2016">
                    2016
                  </div>
                </button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                1 firstplacename
                <br>2 secondplacename
                <br>3 thirdplacename
                <br>4 fourthplacename
                <br>5 fifthplacename
              </div>
            </div>
        </div> -->
      </div>

    <div class="footer"></div>

    <!-- Javascript -->
    <script src="../scripts/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
