.rectangle {
	position: absolute;

	height: 5px;
	width: 120%;

	background-color: #C4C4C4;

}


.rectangle2 {
	position: absolute;
	height: 100px;
	width: 500px;
	bottom: 50%;


	background-color: #000000;
}

.title {
	text-align: center;
	width: 300px;
	position :relative;
	font-weight: bold;
	right: -200px;
	bottom: 45px;
	font-size: 50px;
	background-color: #FFFFFF;
}

.paragraph {
	width: 75%;
	position: relative;
	left: 10%;
	font-size: 36px;
	color: rgba(0, 0, 0, 0.55);
}

.ptitle {

	text-align:center;
	font-weight: 600;
	position: relative;

	
	left: -10%;

	font-size: 36px;
	
}

hr {

	height: 150px;
}