


.container img {

  position: absolute;

  width:300px;
  height: 200px;
  
  display: block;
  margin-left: auto;
  margin-right: auto;


  opacity: 0.8;
  transition-duration: 0.4s;
}

.container img:hover{
    opacity: 1;
    width: 330px;
    height: 220px;


    
    transform: translate(-5%, -10%)
}




.sponsortitle {
  padding: 16px 32px;r
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #6D6E71;
  line-height: 29px;
  display: flex;
  margin:auto;
  border: white;
  background-color: white;
  opacity: 0.8;
  transition-duration: 0.4s;
}

.sponsortitle:hover{
    opacity: 1;
    font-size:44px;
}