#line1 {
	position: absolute;
	left: 5%;
	margin-top: 30px;
	padding: 0;
	width: 30%;
	height: 0;
	border: 3px solid #c4c4c4;

}

#pastWinnersTitle{
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    text-align: center;

    color: #000000;
}

#line2 {
	position: absolute;
	right: 5%;
	margin-top: 30px;
	padding: 0;
	width: 30%;
	height: 0;
	border: 3px solid #c4c4c4;

}

#accordionExample{
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
}

#year2020{

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    text-align: center;

    color: rgba(0, 0, 0, 0.55);
}

th{
    padding-top: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #828282;
}

td{
    padding: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    
    color: #000000;
}

#year2019{

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    text-align: center;

    color: rgba(0, 0, 0, 0.55);
}

#year2018{

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    text-align: center;

    color: rgba(0, 0, 0, 0.55);
}

#year2017{

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    text-align: center;

    color: rgba(0, 0, 0, 0.55);
}

#year2016{

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    text-align: center;

    color: rgba(0, 0, 0, 0.55);
}

#checkOutTitle{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 61px;

    color: #000000;
}

#description{
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    text-indent: 30px;

    color: rgba(0, 0, 0, 0.55);
}